{% extends "base.html" %}

{% block content_block %}


    <div class="article_container">
      <div class="page_section_name">
        <div class="page_section">
            <h2>Bibliographie</h2>
            <hr>
        </div>
      </div>
      <div class="article_genealogy">


            {% for family in famillies %}
                {% if family.name != 'none' and family.name != 'Informations techniques' %}
                    <h3>{{ family.name }}</h3>
                    {% for ref in refs %}
                        {% if ref.article.family == family %}
                            <p>{{ ref.title }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
