{% extends "base.html" %}

{% block content_block %}

    {% for article in articles %}
        {# {% if article.family == famille %} #}
            {% if article.parent.title == 'none' %}
                <h1>{{ article.title }}</h1>
                <p>{{ article.text }}</p>
                
                {% for phot in photos %}
                    {% if phot.article == article %}
                        <img src="{{ phot.la_photo.url }}"/>
                    {% endif %}
                {% endfor %}
                
                {% for a in articles %}
                    {% if a.parent == article %}
                        <h3>{{ a.title }}</h3>
                        <p><em>{{ a.text }}</em></p>
                            {% for phot in photos %}
                                {% if phot.article == a %}
                                    <img src="{{ phot.la_photo.url }}"/>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {# {% endif %} #}
    {% endfor %}

{% endblock %}