{% extends "base.html" %}

{% block content_block %}

    <div class="page_section_name">
        <div class="page_section">
            <h2>Famille {{ famille }}</h2>
          <hr>
        </div>
    </div>
    {% for article in articles %}
        {# {% if article.family == famille %} #}
            {% if article.parent.title == 'none' %}

                <div class="article_container">
                    <div class="article_genealogy">


                        <h3>{{ article.title }}</h3>
                        <p>{{ article.text|safe }}</p>

                        {% for phot in photos %}
                            {% if phot.article == article %}
                                <img src="{{ phot.la_photo.url }}"/>
                            {% endif %}
                        {% endfor %}

                        {% for ipdf in imagesPdf %}
                            {% if ipdf.article == article %}
                                    <a class="pdf_link" href="{{ ipdf.la_photo.url }}">{{ ipdf.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                        {% for a in articles %}
                            {% if a.parent == article %}
                            <div class="sub_article_genealogy">
                                <h3>{{ a.title }}</h3>
                                <p>{{ a.text|safe }}</p>
                                    {% for phot in photos %}
                                        {% if phot.article == a %}
                                            <img src="{{ phot.la_photo.url }}"/>
                                        {% endif %}
                                    {% endfor %}

                                    {% for ipdf in imagesPdf %}
                                        {% if ipdf.article == article %}
                                            <a href="{{ ipdf.la_photo.url }}">{{ ipdf.title }}</a>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}
                </div>
            {% endif %}
        {# {% endif %} #}
    {% endfor %}

{% endblock %}
