{% extends "base.html" %}

{% block content_block %}


<div class="article_genealogy introduction_text">
<p>                                                       Génialogie !</br>
</br>
        C'est génial ! Mot souvent dit, après le récit de mes découvertes en généalogie. J'adore faire des recherches sur mes ancêtres et partager les résultats de mes enquêtes sur la vie des pionniers de la Nouvelle-France.</br>
</br>
         Merveilleux passe-temps la généalogie !! Après près 5 ans de recherches, c'est avec plaisir que je vais vous présenter mes ancêtres, qui sont aussi les vôtres.</br>
</br>     
                                        Bonne exploration !!</br>
</br>
                                                              Christiane Dostie</br>
</p>
</br>
<p><small>PS.: si commentaires ou suggestions, contactez-moi a l'adresse:
                           lepremiercrayon@videotron.ca</small></p>
</div>

{% endblock %}
