<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Génialogie</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//getbootstrap.com/examples/blog/blog.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Lora' rel='stylesheet' type='text/css'>
         <!--Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
         <style>
            body{
                  background :url('{% static "nouvelle-france-1719.jpg"%}') no-repeat center center fixed;
            }
        </style>
    <body>

            <nav class="navbar navbar-default navbar-fixed-top" role"navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href = "{% url 'home' %}">Accueil</a></li>
                            {% for f in famillies %}
                                {% if f.name != 'none' %}
                                    <li><a href ="{% url 'family-detail' famille=f.name %}">Famille {{ f.name }}</a></li>
                                {% endif %}
                            {% endfor %}

                            <li><a href = "{% url 'bibliographie-detail' %}">Bibliographie</a></li>
                            <li><a href = "{% url 'liens-detail' %}">Liens</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 class="page_title">Génialogie</h1>

        <div class="body_content">
        {% block content_block %} Default content for the block{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>
    </body>
</html>
