<!DOCTYPE html>
<html>
    <head>
        <title>Genealogie</title>
    </head>
    <body>
        <h1>Genealogie</h1>
        <ul>
            
            {% for f in famillies %}
                {% if f.name != 'none' %}
                    <li><a href ="{% url 'family-detail' famille=f.name %}">Famille {{ f.name }}</a></li>
                {% endif %}
            {% endfor %}
            
            <li><a href = "{% url 'bibliographie-detail' %}">Bibliographie</a></li>
            <li><a href = "{% url 'liens-detail' %}">Liens</a></li>
        </ul>
        
        {% block content_block %} Default content for the block{% endblock %}
        
    </body>
</html>